<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hexagon.Alignment" version="1.0.20160316" targetFramework="native" />
  <package id="Hexagon.Alignment.redist" version="1.0.20160316" targetFramework="native" />
  <package id="Hexagon.GDT_Blade.redist" version="0.25.20190116.0" targetFramework="native" />
  <package id="Hexagon.MathHeaderOnly" version="1.1.20151216" targetFramework="native" />
  <package id="Hexagon.ThirdParty.Boost" version="1.67.0" targetFramework="native" />
  <package id="Hexagon.ThirdParty.Eigen" version="3.3.4" targetFramework="native" />
  <package id="Hexagon.ThirdParty.nanoflann" version="1.2.3" targetFramework="native" />
  <package id="Hexagon.ThirdParty.NLopt.redist" version="2.4.2" targetFramework="native" />
  <package id="Hexagon.ThirdParty.Protobuf_MD" version="3.3.0.4" targetFramework="native" />
  <package id="hexagon.thirdparty.protobufcpp_MD__v110_Win32_Debug" version="3.3.0.1" targetFramework="native" />
  <package id="hexagon.thirdparty.protobufcpp_MD__v110_Win32_Release" version="3.3.0.1" targetFramework="native" />
  <package id="hexagon.thirdparty.protobufcpp_MD__v110_x64_Debug" version="3.3.0.1" targetFramework="native" />
  <package id="hexagon.thirdparty.protobufcpp_MD__v110_x64_Release" version="3.3.0.1" targetFramework="native" />
  <package id="hexagon.thirdparty.protobufcpp_MD__v140_Win32_Debug" version="3.3.0.1" targetFramework="native" />
  <package id="hexagon.thirdparty.protobufcpp_MD__v140_Win32_Release" version="3.3.0.1" targetFramework="native" />
  <package id="hexagon.thirdparty.protobufcpp_MD__v140_x64_Debug" version="3.3.0.1" targetFramework="native" />
  <package id="hexagon.thirdparty.protobufcpp_MD__v140_x64_Release" version="3.3.0.1" targetFramework="native" />
  <package id="hexagon.thirdparty.protobufcpp_MD__v141_Win32_Debug" version="3.3.0.1" targetFramework="native" />
  <package id="hexagon.thirdparty.protobufcpp_MD__v141_Win32_Release" version="3.3.0.1" targetFramework="native" />
  <package id="hexagon.thirdparty.protobufcpp_MD__v141_x64_Debug" version="3.3.0.1" targetFramework="native" />
  <package id="hexagon.thirdparty.protobufcpp_MD__v141_x64_Release" version="3.3.0.1" targetFramework="native" />
  <package id="Hexagon.ThirdParty.QHull_____build.2016.05.28" version="2012.1" targetFramework="native" />
</packages>